.slick-dots {
    bottom: -30px !important;
    top:auto !important;
  }
  .slick-dots li button:before {
    font-size: 10px !important;
  }
  .slick-dots li button:after {
 font-size: 10px !important;
  }
  
  
  .slick-dots li.slick-active button:before {
    color: #000; 
  }
  
   