/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

/* End Tailwind Styles Styles */
@import url("../iconfonts/RemixIcons/fonts/remixicon.css");
@import url("../iconfonts/tabler-icons/iconfont/tabler-icons.css");
@import url("../iconfonts/feather/feather.css");
@import url("../iconfonts/bootstrap-icons/icons/font/bootstrap-icons.css");
@import url("../iconfonts/line-awesome/1.3.0/css/line-awesome.css");
@import url("../iconfonts/boxicons/css/boxicons.css");
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    line-height: inherit;
    font-family: 'Inter', sans-serif !important;
    height: -webkit-fill-available;
    background-color: var(--body-bg);
  
}

html {
    scroll-behavior: smooth;
    text-align: start;
    font-family: Inter, sans-serif !important;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}

*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #f2f4f5;
}

::before,
::after {
    --tw-content: '';
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    height: 5px;
    width: 0px;
    background-color: rgb(249 250 251);
}

::-webkit-scrollbar-thumb {
    height: 2px;
    width: 0px;
    background-color: rgb(230 234 235);
}

/* Root variables */
:root {
    --body-bg: rgb(240 241 247);
    --primary-btn: 132 90 223;
    --bg-primary: rgba(132, 90, 223, 0.102);
    --bg-secondary: rgb(207 250 254);
    --bg-pink: rgb(248, 232, 239);
    --bg-warning: rgb(240, 225, 197);
    --bg-success: rgba(218, 244, 236, 0.922);
    --primaries: rgb(132, 90, 223);
    --secondaries: rgb(35, 183, 229);
    --pinkes: rgb(231 ,145, 188);
    --warninges: rgb(245 ,184 ,73);
    --successes: rgb(38 ,191, 148);
    --body-bg: rgb(240 241 247);
    --primary: 132 90 223;
    --primary-rgb: 132, 90, 223;
    --secondary: 35 183 229;
    --testsec:35 183 229;
    --warning: 245 184 73;
    --info: 73 182 245;
    --success: 38 191 148;
    --danger: 230 83 60;
    --light: 243 246 248;
    --dark: 35 35 35;
    --orange: 255 165 5;
    --pink: 231 145 188;
    --teal: 18 194 194;
    --purple: 137 32 173;
    --default-text-color: 51 51 53;
    --default-border: 243 243 243;
    --default-background: 247 248 249;
    --menu-prime-color: 83 100 133;
    --menu-border-color: 243 243 243;
    --header-prime-color: 83 100 133;
    --header-border-color: 243 243 243;
    --bootstrap-card-border: 243 243 243;
    --list-hover-focus-bg: 245 246 247;
    --text-muted: 140 144 151;
    --input-border: 233 237 246;
    --red: 208 61 70;
    --blue: 43 62 101;
    --green: 29 216 113;
    --cyan: 0 209 209;
    --indigo: 77 93 219;
    --gray: 134 153 163;
    --yellow: 255 193 2;
    --facebook: 59 89 152;
    --twitter: 0 172 238;
    --github: 51 51 51;
    --google: 207 78 67;
    --youtube: 255 0 0;
}

/* dark mode */
.dark {
    --body-bg: 26 28 30;
    --dark-bg: 37 39 41;
    --light: 43 46 49;
    --dark: 240 245 248;
    --input-border: 49 51 53;
    --form-control-bg: 35 38 40;
    --default-text-color: 255 255 255;
}

/* Start Icons */
/* Start Icons */
/* Start::app-header */
/* .app-header {
    @apply w-full max-w-full h-[3.75rem] z-[49] fixed top-0 start-0 border-b border-b-headerbordercolor dark:border-white/10 transition-all ease-linear duration-[0.1s] bg-white dark:bg-bodybg;
  }
  
  
.app-header #mainHeaderProfile {
  @apply text-headerprimecolor;
}

.app-header {
  @apply lg:ps-60;
} */

.content {
    margin-top: 60px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    /* margin-inline-start: 15rem; */
    height: -webkit-fill-available;
    background-color: var(--body-bg);
    height: 100vh;
    font-family: 'Inter', sans-serif !important;
}
.main-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.page {
    display: flex;
    height: 100%;

    flex-direction: column;
}
